
.Back{
    background: url(../../assets/interactive-card-details-form-main/images/bg-main-desktop.png);
    height: 100vh;
    width: 30vw;
    position: absolute;
    box-shadow: 2px 0px 5px 2px #31002ff3;
}
.card{
    background: url(../../assets/interactive-card-details-form-main/images/bg-card-front.png);
    width: 29.1vw;
    height: 33.1vh;
    position: relative;
    margin-left: 10vw;
    top: 10vh;
}